:root{
    font-family: 'Kanit', Arial;
    margin: 0px;
    padding: 0px;
    
    --blue: rgb(100, 190, 255);
    --darkBlue: rgb(0, 58, 121);
    --midBlue: rgb(81, 188, 255);
    --yellow: rgb(255, 255, 182);
    --black: black; 
    --white: white;
    --gap: 1rem;
}
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 50px;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--blue);
}
.header__logoWrapper{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5px;

    font-size: 30px;
    font-family: Agbalumo, Arial;

    color: var(--white);
    text-decoration: none;
}
.header__logo--Rain{
    color: var(--darkBlue);
}
.header__logo--Shine{
    color: var(--yellow);
}
.header__locationSearchBox{
    height: 30px;
    width: 20vw;

    padding-left: 10px;

    background-color: var(--white);
    border-radius: 15px 0 0 15px;
    border: 2px var(--white) solid;
}
.headerBtn{
    height: 30px;
    width: fit-content;

    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--white);
    border: none;
}
.header__locationSearchBtn{
    border-radius: 0 15px 15px 0;
}
.header__myLocationBtn{
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 15px;
}
.headerBtn:hover{
    cursor:pointer;
}
.marquee{
    height: 30px;
    width:100%;

    position: absolute;
    top: 50px;
    left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);

    overflow: hidden;

    background-color: var(--darkBlue);
    user-select: none;
}
.marquee__textWrapper{
    min-width: 100%;
    height: 100%;

    display: flex;
    white-space: nowrap;
    justify-content: space-around;

    font-size: 20px;
    color: var(--white);

    flex-shrink: 0;
    gap: var(--gap);

    animation: scroll 80s linear infinite;
}
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tile{
    border-radius: 20px;
    background-color: var(--blue);
}
